<!DOCTYPE html>
<html>
<head>
	<title>blogs</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>Blog list</h1>
	<hr>
	<h2>{{post.name}}</h2>
	<p>{{post.text}}</p>
	<br>

	<!-- Comment section -->
	{{#if post.comments.length}}
		<h2>{{post.comments.length}} Comments</h2>
		{{#each post.comments as |comment|}}
			<p>{{comment.text}}</p>
		{{/each}}
	{{/if}}
</body>
</html>